In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\dell'

In [11]:
os.chdir('C:\\Users\\dell\\Desktop\\DATASETS')

In [12]:
os.getcwd()

'C:\\Users\\dell\\Desktop\\DATASETS'

In [17]:
df=pd.read_csv('kc_house_data.csv')

In [18]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [22]:
df_updated=df.drop(['id','date'],axis=1)

In [23]:
df_updated.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [24]:
df_without_na=df_updated.dropna()

In [25]:
df_without_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21611 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21611 non-null  float64
 1   bedrooms       21611 non-null  int64
 2   bathrooms      21611 non-null  float64
 3   sqft_living    21611 non-null  int64
 4   sqft_lot       21611 non-null  int64
 5   floors         21611 non-null  float64
 6   waterfront     21611 non-null  int64
 7   view           21611 non-null  int64
 8   condition      21611 non-null  int64
 9   grade          21611 non-null  int64
 10  sqft_above     21611 non-null  float64
 11  sqft_basement  21611 non-null  int64
 12  yr_built       21611 non-null  int64
 13  yr_renovated   21611 non-null  int64
 14  zipcode        21611 non-null  int64
 15  lat            21611 non-null  float64
 16  long           21611 non-null  float64
 17  sqft_living15  21611 non-null  int64
 18  sqft_lot15     21611 non-null  int64
dtypes: float64(6), int64(13)
memory usage: 3.3 MB

In [26]:
x=df_without_na[['sqft_living']]
y=df_without_na['sqft_above']

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
model=LinearRegression()

In [29]:
model.fit(x,y)

LinearRegression()

In [30]:
model.coef_

array([0.79045724])

In [31]:
model.intercept_

144.36088112846323

In [33]:
model.predict(df_updated[df_updated['sqft_above'].isna()][['sqft_living']])

array([2958.38864251, 1409.09245928])

In [35]:
df_updated.loc[df_updated['sqft_above'].isna(),'sqft_above']=model.predict(df_updated[df_updated['sqft_above'].isna()][['sqft_living']])

In [36]:
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21613 non-null  float64
 1   bedrooms       21613 non-null  int64
 2   bathrooms      21613 non-null  float64
 3   sqft_living    21613 non-null  int64
 4   sqft_lot       21613 non-null  int64
 5   floors         21613 non-null  float64
 6   waterfront     21613 non-null  int64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  float64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  lat            21613 non-null  float64
 16  long           21613 non-null  float64
 17  sqft_living15  21613 non-null  int64
 18  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(13)
memory usage: 3.1 MB

In [39]:
X=df_updated.drop(columns=['price'],axis=1)
Y=df_updated['price']

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
model=LinearRegression()

In [42]:
model.fit(X,Y)

LinearRegression()

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_test,X_train,Y_test,Y_train=train_test_split(X,Y,test_size=0.25,random_state=0)

In [45]:

X_train.shape

(5404, 18)

In [46]:
model=LinearRegression()

In [47]:
model.fit(X,Y)

LinearRegression()

In [48]:
model.score(X_test,Y_test)

0.70234120334614

In [49]:
model.score(X_train,Y_train)

0.6918142988636717